@import "tailwindcss";

/* THEME CONFIG */
@theme {

  --color-primary: #00A63E;
  --color-primary-dark: #1b5e20;

  --color-farming-light: #e9f9ee;
  --color-farming-mid: #ffffff;
  --color-farming-dark: #d8f5dd;

  --background-image-farming-gradient:
    linear-gradient(to bottom right,
      #e9f9ee,
      #ffffff,
      #d8f5dd);
}


/* REUSABLE COMPONENTS */
@layer components {

  .app-bg {
    background-image: var(--background-image-farming-gradient);
    min-height: 100vh;
    color: #0d2610;
  }

  .primary-btn {
    @apply px-8 py-4 rounded-xl font-bold text-white transition hover:scale-105;
    background-color: var(--color-primary-dark);
  }

  .secondary-btn {
    @apply px-8 py-4 rounded-xl font-bold border transition;
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
  }

  .secondary-btn:hover {
    background-color: var(--color-primary-dark);
    color: white;
  }

  .glass-card {
    @apply bg-white/60 backdrop-blur-xl border border-white/30 shadow-xl;
  }
}